main {
    padding-top: 4.5rem;
}

.testimonial {
    font-size: 1.2rem;
    margin: 3rem;
}

.customer-image {
    width: 100%;
    vertical-align: top;
}

.testimonial:first-of-type {
    margin-top: 6rem;
}

.testimnoals__image-container {
    width: 50%;
    /* max-width: 400px; */
    min-width: 300px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.testimonial__info {
    text-align: right;
    padding: 0.9rem;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.testimonial#customer-2 {
    text-align: right;
}

.testimonial__name {
    margin: 0.2rem;
    color: #1565c0;
    font-size: 2rem;
}

.testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #757575;
}

.testimonial__text {
    margin: 0.2rem;
    color: #212121; 
}