main {
    padding-top: 2rem;
}

.background {
    background: url("../../image/1102007.jpg");
    filter: grayscale(100%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    z-index: -1;
}

.plan {
    top: 1.5rem;
    width: 60%;
    margin: 1rem 0;
    border: 1px solid #1565c0;
    border-left: none;
    border-radius: 3px;
    text-align: right;
    z-index: 0;
    position: relative;
    
}

.plan a {
    text-decoration: none;
    color: #0d47a1;
    display: block;
    padding: 2rem;
}

.plan__info {
    padding: 1rem;
    border: 1px solid #1e88e5;
    font-size: 1rem;
    border-radius: 3px;
    background-color: #ffffff;
}

.plan__badge {
    position: fixed;
    top: 0px;
    right: 0;
    margin: 0.5rem;
    font-size: 1rem;
    position: absolute;
    background: #1e88e5;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    color: #ffffff;
}

#plus {
    background: #bbdefb;
}

.clearfix {
    clear: both;
}

#free {
    background: #e3f2fd;
    float: right;
    border-right: none;
    border-left: 1px solid #1565c0;
}

#premium {
    background-color: #1565c0;
}

#premium .plan__title {
    color: #ffffff;
}