* {
  box-sizing: border-box;  
}

@font-face {
    font-family: "Vazir";
    src: url(file:///D:/work/css/font/Vazir-Light-FD.woff );
}

body {
    margin: 0;
    font-family: "vazir";
    /* direction dasture negareshist va rtl yani right to left */
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}


.main-header {
    width: 100%;
    background-color: #1565c0;
    padding: 0.5rem 1rem;
    position: fixed;
    right: 0;
    left: 0;
}

.main-header > div {
    display: inline-block;
}

.main-header__logo {
    color: #e3f2fd;
    font-size: 1.4rem;
    text-decoration: none;
    /* text-decoration: ; baraye pak kardane khate zire element estefade mishe */
}

.main-nav {
    display: inline-block;
    width: calc(100% - 70px);
    text-align: right;
}

.main-nav__items {
    padding: 0;
    list-style: none;
    /* list-style: ; baraye pak kardane noqte haye poshte ul estfade mishe */
    text-decoration: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

/* .main-nav__item a::after {
    content: "(link)";
    color: rgb(27, 26, 26);
} */

.main-nav__item a {
    text-decoration: none;
    color: #bbdefb;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #ffffff;
}

.mian-nav__item--account a {
    background: #e3f2fd;
    color: #1565c0;
    padding: 0.5rem 1rem;
    border-radius: 111px;  
}

.mian-nav__item--account a:hover,
.mian-nav__item--account a:active {
    color: #1565c0;
}

#overview {
    width: 100vw;
    height: 50vh;
    /* background-image: url(../image/13189.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
    /* background: linear-gradient(180deg, red, blue); */
    /* background: radial-gradient(circle, red,blue); */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent),
    url(../image/13189.jpg) center/cover no-repeat,
    #90caf9;
}

/* p::first-letter {
    font-size: 22px;
    color: red;
} */

.section-title {
    color: #1565c0;
    text-align: center;
}

.plan__list {
    width: 65%;
    margin: auto;
}

.plan {
    width: 30%;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    /* dasture vertical-align: middle; barresi shavad. */
    vertical-align: middle;
    text-align: center;
    color: #424242;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.19);
    direction: rtl;
    border-radius: 3px;
}

.plan--highlighted {
    color: #1565c0;
    background-color: #e3f2fd;
}

.plan__title--highlighted {
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 3px;
    
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.plan__features {
    margin: 8px 0;
}

.plan__btn {
    background-color: #1565c0;
    color: #ffffff;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    border: none;
    font: inherit;
    font-weight: bold;
    outline: none;
}

.plan__btn:hover {
    background-color: rgb(220, 57, 8);
}

#features {
    background-color: #f5f5f5;
    margin-top: 5rem;
    padding: 1rem;
}

#features .section-title {
    margin: 2rem;
}

.features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.features__list--element {
    display: inline-block;
    width: 30%;
}

.features__image {
    background-color: #bbdefb;
    width: 8rem;
    height: 8rem;
    margin: auto;
    border: 1px solid #42a5f5;
    border-radius: 50%;
}

.features__p {
    text-align: center;
    font-weight: bold;
    color: #1976d2;
    font-size: 1.1rem;
}

.main-footer {
    background-color: #424242;
    padding: 2rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a {
    text-decoration: none;
    color: #f5f5f5;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #e0e0e0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: #ffffff;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #1565c0;
    background-color: #1565c0;
    text-decoration: none;
    color: #ffffff;
    font: inherit;
    padding: 0.5rem 1rem;
    border-radius: 15px;

}

.negative {
    background-color: #d81b60;
    border: 1px solid #d81b60;
}


















