* {
    box-sizing: border-box;  
  }
  
  @font-face {
      font-family: "Vazir";
      src: url(file:///D:/work/css/font/Vazir-Light-FD.woff );
  }
  
  body {
      margin: 0;
      font-family: "vazir";
      /* direction dasture negareshist va rtl yani right to left */
  }

  .main-header {
      width: 100%;
      background-color: #1565c0;
      padding: 0.5rem 1rem;
      position: fixed;
      z-index: 1;
  }
  
  .main-header > div {
      display: inline-block;
  }
  
  .main-header__logo {
      color: #e3f2fd;
      font-size: 1.4rem;
      text-decoration: none;
      /* text-decoration: ; baraye pak kardane khate zire element estefade mishe */
  }
  
  .main-nav {
      display: inline-block;
      width: calc(100% - 70px);
      text-align: right;
  }
  
  .main-nav__items {
      padding: 0;
      list-style: none;
      /* list-style: ; baraye pak kardane noqte haye poshte ul estfade mishe */
      text-decoration: none;
  }
  
  .main-nav__item {
      display: inline-block;
      margin: 0 1rem;
  }
  
  /* .main-nav__item a::after {
      content: "(link)";
      color: rgb(27, 26, 26);
  } */
  
  .main-nav__item a {
      text-decoration: none;
      color: #bbdefb;
  }
  
  .main-nav__item a:hover,
  .main-nav__item a:active {
      color: #ffffff;
  }
  
  .mian-nav__item--account a {
      background: #e3f2fd;
      color: #1565c0;
      padding: 0.5rem 1rem;
      border-radius: 111px;  
  }
  
  .mian-nav__item--account a:hover,
  .mian-nav__item--account a:active {
      color: #1565c0;
  }

  .main-footer {
    background-color: #424242;
    padding: 2rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a {
    text-decoration: none;
    color: #f5f5f5;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #e0e0e0;
}
